<div class="form-class">
	<form class="form-signin" ng-submit="$ctrl.register()">
		<div ng-show="$ctrl.error" class="alert alert-danger">
			{{ $ctrl.message }}
		</div>
		<div ng-show="$ctrl.success" class="alert alert-success">
			{{ $ctrl.message }}
		</div>
		<b><h1 style="font-weight: bold">DineTime</h1></b>
		<h3 class="h3 mb-3 font-weight-normal">Please sign up</h3>
		<input
			type="text"
			id="username"
			class="form-control"
			placeholder="Username"
			required
			autofocus
			ng-model="$ctrl.username"
		/>

		<input
			type="password"
			id="password"
			class="form-control"
			placeholder="Password"
			required
			ng-model="$ctrl.password"
		/>

		<button class="btn btn-lg btn-primary btn-block" type="submit">
			Sign up
		</button>
	</form>
</div>
