html,
body {
	background-color: #f5f5f5;
	margin: 0;
	padding: 0;
}

/* body {
	padding: 10px;
	padding-bottom: 30px; 
	margin-bottom: 30px;
} */

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
	line-height: 30px;
}
